/* general */
* { padding:0; margin:0; }
ol, ul { list-style-type:none; }
b, strong { font-weight:600; }

/* layout */
$header-h: 258px;
$site-w: 1024px;
body {
  font:14px/1.5 "proxima-nova", "Myriad Pro", helvetica, arial, sans-serif;
}
.centered {
  margin:0 auto; width: $site-w;
}

/* headings */
h1, h2 { font:inherit; }
h1 {
  float:left;
  margin-right:15px;
  font-size:18px; font-weight:600; line-height:1.1;
  text-shadow:1px 1px 1px rgba(0,0,0,.4);
  .portfolio & { color:#c5c5c6; }
  .about & { color:#fff; }
}

/* links */
a { color:inherit; text-decoration:none; }
.with-icon {
  padding: 2px 18px 0 0;
  background: no-repeat right;
}
.goto { padding: 2px 18px 0 0; background-image: url(goto-arrow.png); }

/* site */
header {
  @include box-sizing(border-box);
  height: $header-h;
  padding-top:125px;
}

$about-pad: 78px;
.about { background:#09080d; color:#66615f;
  header { background-image: url(about-head.jpg);
    + div { background:#fffdfa; }
  }

  h2, article a { color:#d42861; }
  h2 {
    font-size:72px; font-weight:700;
    background-repeat:no-repeat;
    @include background-image(linear-gradient(left, #d42861, #d42861));
    @include background-size(58px 10px);
    padding-top:50px;
  }

  article {
    font-size:24px;
    padding: 125px $about-pad;

    p { margin:50px 0; line-height:1.6; }
    a:hover { text-decoration:underline; }
  }

  footer {
    clear:left;
    text-align:center;
    color:#b7b6b5;
    padding:50px 0 200px;

    p {
      padding-bottom:25px;
      background: url(m.png) no-repeat bottom center;
    }
  }
}

.portfolio {
  background-color:#18191a; @include background-image(linear-gradient(left, #111 0, transparent 5%, transparent 95%, #111));
  color:#303031;
  padding-bottom:500px;

  .desc {
    font-size:15px;
    @include box-sizing(border-box);
    width:320px; padding:12px 15px; margin: -50px 0 0 20px;
    position:relative; z-index:11;
    &.popup {
      @include background-image(linear-gradient(#fafafb, #fdfefe));
      @include border-radius(4px);
      @include box-shadow(1px 0 4px rgba(0,0,0,.4));
      h2 { border-color: #ddd;
        a { background-image: url(close.png); }
      }
      div { display:block; }
    }
    div { display:none; padding-top:15px; }
    p {
      color:#5f6266; padding-bottom:20px;
      &:last-child { padding-bottom:0; }
      a { color:#477b97;
        &:hover { text-decoration:underline; }
      }
    }
  }

  h2 {
    color:#666;
    padding-bottom:10px;
    border-bottom: 1px dashed transparent;
    a {
      background-image: url(down-arrow.png);
    }
  }
}
.filmstrip {
  @include clearfix;
  width:100000px;
  position:relative;

  figure {
    float: left;
    margin-right:200px;
  }
}

/* nav */
nav li { display:inline; }
.main-nav {
  float:left;

  li {
    border-left:1px solid #222324;
    padding:3px 18px;
    background: transparent;
    .about & { border-color: rgba(255,255,255,.2); }
  }
  .about { border-left-width:0; }

  a {
    color: rgba(255,255,255,.1);
    text-shadow:1px 1px 1px rgba(0,0,0,.2);
    .about & { color: rgba(255,255,255,.7); }

    &:hover { color:#fff; }
  }
  .portfolio & .portfolio a, .about & .about a {
    color:#fff;
    text-shadow:0 0 4px rgba(255, 255, 255, .8);
  }
  .mail a {
    padding-left: 35px;
    background: url(envelope.gif) no-repeat;
    padding-top:1px;

    .about &, &:hover { background-image: url(envelope-white.png); }
  }
}

.scene-nav, .social { text-align:right; }
.scene-nav {
  a {
    display:inline-block;
    border:1px solid #000;
    width:32px; height:22px;
    background-repeat: no-repeat;
    background-position: center;

    &.disabled:hover { cursor:default; }

    span { display:none; }
  }
  .left a {
    margin-right:-4px;
    @include border-radius(3px 0 0 3px);
    @include background-image(url(left.png), linear-gradient(#262626, #171717));

    &:not(.disabled):hover { @include background-image(url(left.png), linear-gradient(#2c2c2c, #1a1a1a)); }
    &:not(.disabled):active { @include background-image(url(left.png), linear-gradient(#1c1c1c, #262626)); }

    &.disabled { @include background-image(url(left-disabled.png), linear-gradient(#262626, #171717)); }
  }
  .right a {
    @include border-radius(0 3px 3px 0);
    @include background-image(url(right.png), linear-gradient(#262626, #171717));

    &:not(.disabled):hover { @include background-image(url(right.png), linear-gradient(#2c2c2c, #1a1a1a)); }
    &:not(.disabled):active { @include background-image(url(right.png), linear-gradient(#1c1c1c, #262626)); }

    &.disabled { @include background-image(url(right-disabled.png), linear-gradient(#262626, #171717)); }
  }
}

.social { margin-top: -8px;
  // a { height:35px; display:inline-block; }
  .twitter a:hover img, .twitter a:active img { background-image: url(twitter-glow.png);}
  .behance a:hover img, .behance a:active img { background-image: url(behance-glow.png);}
  .dribbble a:hover img, .dribbble a:active img { background-image: url(dribbble-glow.png);}
}

.contact {
  font-size: 16px;
  background:#fff;
  border-width:1px 0; border-color:#e6e6e6; border-style:solid;
  padding:0 $about-pad;
  color:#999796;
  overflow:hidden;

  span { display:block; text-transform: uppercase; font-size: 12px; }

  li:first-child a { border-left: 1px solid #e6e6e6; }
  a, li:last-child {
    @include box-sizing(border-box);
    width: 24.5%;
    border-right: 1px solid #e6e6e6;
    float:left;
    padding:10px 12px 5px;

    &:hover { background:#fafafa; }
  }
  a {
    display: block;
    &:active { @include box-shadow(inset 0 0 8px #e5e5e5); background:#fafafa; }
  }
}
